html
    head
        title= title
    body
        h1= 'Page of POST Request'
        h3='1st number is = '+ ip1
        h3='2nd number is = '+ ip2
        h2= `result of ${op} is = ` + output 
        button(type= 'submit' onclick="window.history.go(-1)" ) Back
